@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Lato', ui-sans-serif, system-ui, sans-serif;
  }
  
  * {
    font-family: inherit;
  }
} 

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ea-text';
  src: url('/fonts/Electronic_Arts_Text/ElectronicArtsText-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ea-display';
  src: url('/fonts/Electronic_Arts_Display/ElectronicArtsDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ea-display';
  src: url('/fonts/Electronic_Arts_Display/ElectronicArtsDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}